html{
    background-color: #363636;
	background: url("pattern_156.gif") 0 0 fixed; 
}

body{
 max-width: 50%;
 margin: 0 auto;
}

.Contain{    
 
	margin-top: 5%;
	margin-bottom: 5%;
	max-width: auto;
	max-height: auto;
	background-color: #131314;
	-webkit-box-shadow: 0px 0px 2px 0px black;
       -moz-box-shadow: 0px 0px 2px 0px black;
            box-shadow: 0px 0px 2px 0px black;
}

.Screenshot img{
	max-width: 100%; 
	max-height: 100%;
	display: block;
}

table{
width: 100.1%;
}

td{
padding: 1%;
color: white;
font-family: 'Damion', cursive;
font-size: 1.2em;
}

/* Reborn */
#Reborn, #RebornBorder {
background-color: #131314;
border: solid 1px #131314;
}

/* Under Pressure */
#UnderPressure, #UnderPressureBorder{
background-color: #131314;
border: solid 1px #131314;
}

/* Connects */
#Connects, #ConnectsBorder{
background-color: #1B1B23;
border: solid 1px #1B1B23;
}

/* Connects */
#Brainless, #BrainlessBorder{
background-color: #1C1C23;
border: solid 1px #1C1C23;
}

/* YoursTruly */
#Truly, #TrulyBorder{
background-color: #1C1C23;
border: solid 1px #1C1C23;
}

/* Slacking */
#Slacking, #SlackingBorder{
background-color: #191C23;
border: solid 1px #191C23;
}

/* Vibe */
#Vibe, #VibeBorder{
background-color: #202020;
border: solid 1px #202020;
}

/* Undeniable */
#Undeniable, #UndeniableBorder {
background-color: #202020;
border: solid 1px #202020;
}

/* Seriously */
#Seriously, #SeriouslyBorder {
background-color: #222222;
border: solid 1px #222222;
}

/* Indoor */
#Indoors, #IndoorsBorder{
background-color: #222222;
border: solid 1px #222222;
}

/* Endless */
#Endless, #EndlessBorder{
background-color: #111111;
border: solid 1px #111111;
}

/* Eyes */
#Eyes, #EyesBorder{
background-color: #111111;
border: solid 1px #111111;
}

/* Color */
#Color, #ColorBorder{
background-color: #150E0E;
border: solid 1px #150E0E;
}

/* Relax */
#Relax, #RelaxBorder{
background-color: #150E0E;
border: solid 1px #150E0E;
}

/* Back */
#Back, #BackBorder{
background-color: #150E0E;
border: solid 1px #150E0E;
}

/* Step */
#Step, #StepBorder{
background-color: #150E0E;
border: solid 1px #150E0E;
}
