html,body{
    background-color: #363636;
/*	background: url("footer_lodyas.png") repeat fixed; */
}

#Daddy{
	width: 50%;
	margin-left: auto;
	margin-right: auto;	
}

.Contain{    
	-webkit-box-shadow: 0px 0px 2px 0px #000;
       -moz-box-shadow: 0px 0px 2px 0px #000;
            box-shadow: 0px 0px 2px 0px #000;
 
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 1px;
	max-width:100%;
	max-height:100%;
	background-color: #131314;
}

.Screenshot img{
	max-width:100%; 
	max-height:100%;
	display: block;
}

table{
width: 100.1%;
}

td{
padding: 4px;
color: white;
font-family: 'Damion', cursive;
font-size: 1.2em;
}

/* Reborn */
#Reborn{
background-color: #131314;
}

#RebornBorder{
border: solid #131314;
}

/* Under Pressure */
#UnderPressure{
background-color: #131314;
}

#UnderPressureBorder{
border: solid #131314;
}

/* Connects */
#Connects{
background-color: #1B1B23;
}

#ConnectsBorder{
border: solid #1B1B23;
}

/* Connects */
#Brainless{
background-color: #1C1C23;
}

#BrainlessBorder{
border: solid #1C1C23;
}

/* YoursTruly */
#Truly{
background-color: #1C1C23;
}

#TrulyBorder{
border: solid #1C1C23;
}

/* YoursTruly */
#Truly{
background-color: #1C1C23;
}

#TrulyBorder{
border: solid #1C1C23;
}

/* YoursTruly */
#Slacking{
background-color: #191C23;
}

#SlackingBorder{
border: solid #191C23;
}

/* Vibe */
#Vibe{
background-color: #202020;
}

#VibeBorder{
border: solid #202020;
}

/* Undeniable */
#Undeniable {
background-color: #202020;
}

#UndeniableBorder{
border: solid #202020;
}

/* Seriously */
#Seriously {
background-color: #222222;
}

#SeriouslyBorder{
border: solid #222222;
}

/* Indoor */
#Indoors{
background-color: #222222;
}

#IndoorsBorder{
border: solid #222222;
}

/* Endless */
#Endless{
background-color: #111111;
}

#EndlessBorder{
border: solid #111111;
}

/* Eyes */
#Eyes{
background-color: #111111;
}

#EyesBorder{
border: solid #111111;
}

/* Color */
#Color{
background-color: #150E0E;
}

#ColorBorder{
border: solid #150E0E;
}

/* Relax */
#Relax{
background-color: #150E0E;
}

#RelaxBorder{
border: solid #150E0E;
}

/* Back */
#Back{
background-color: #150E0E;
}

#BackBorder{
border: solid #150E0E;
}

/* Step */
#Step{
background-color: #150E0E;
}

#StepBorder{
border: solid #150E0E;
}
